.taskContainer {
    width: 100%;
    height: 72px;
    padding: 16px 16px;
    display: flex;
    background: var(--gray-500);
    border-radius: 8px;
    align-items: flex-start;
    gap: 5px;

}

.task {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;

}

.containerCheckbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.containerCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--gray-500);
    border: 2px solid var(--blue);
    border-radius: 15px;
}

/* On mouse-over, add a grey background color */
.containerCheckbox:hover input~.checkmark {

    border-color: var(--blue-dark);
}

/* When the checkbox is checked, add a blue background */
.containerCheckbox input:checked~.checkmark {
    background-color: var(--purple);
    border-color: var(--purple);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerCheckbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerCheckbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.task button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0;
    color: var(--gray-200);
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;

    border-radius: 2px;
}

.task button:hover {
    
    color: var(--danger);
    background: var(--gray-400)
}

.task p {
    color: var(--gray-200);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    overflow: hidden;
}

.complete{
    text-decoration: line-through; 
}

